# Please use teams as codeowners and refrain from using individuals

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence

*                           @sambanova/nlp

.circleci                   @sambanova/sambanova-ci
.github                     @sambanova/sambanova-ci
docs                        @sambanova/sambanova-ci
.pre-commit-config.yaml     @sambanova/sambanova-ci
pyproject.toml              @sambanova/sambanova-ci
setup.cfg                   @sambanova/sambanova-ci
Pipfile                     @sambanova/sambanova-ci
Pipfile.lock                @sambanova/sambanova-ci
